<%- include('partials/header') %>
<h2>Bem-vindo ao CineList! Cadastre seus filmes assistidos ou os que deseja assistir.</h2>
<p>Consulte quando quiser! Use a opção Filmes no menu inicial para gerenciar.</p>
<img src="https://cdn.pixabay.com/photo/2016/03/31/20/07/cartoon-1295516_960_720.png" alt="Mascote do CineList">
<%- include('partials/footer') %>
